.table-container {
    overflow-x: auto;
  }
  
  .simple-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .simple-table th,
  .simple-table td {
    border: 1px solid #000;
    padding: 8px;
    font-size: 14px;
  }
  
  .simple-table th {
    background-color: #8ca0c7;
    font-weight: bold;
  }